# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Docker
docker_data/

# Redis
dump.rdb

# Local model cache
.cache/
huggingface/