fastapi
uvicorn[standard]
python-multipart

langgraph
langchain
langchain-google-genai
langchain-groq

supabase
pgvector
psycopg2-binary

redis[hiredis]

PyPDF2
python-docx

python-dotenv

pydantic

numpy


openai-whisper
librosa
soundfile
numpy
ffmpeg-python


aiofiles

httpx

pytest
pytest-asyncio
pytest-cov

prometheus-fastapi-instrumentator
prometheus-client

reportlab