fastapi
uvicorn[standard]
python-multipart

langgraph
langchain
langchain-core

langchain-google-genai
google-generativeai

supabase

redis[hiredis]

PyPDF2
python-docx

python-dotenv

pydantic

numpy